.desktop-view {
  .discourse-reactions-counter {
    .btn-reaction-counter {
      padding-right: 0 !important;
    }

    + .discourse-reactions-reaction-button {
      .toggle-like {
        padding-left: 8px;
      }
    }
  }

  .discourse-reactions-actions {
    &.is-liked {
      :hover {
        .double-button {
          background: $primary-low;

          .d-icon {
            color: $primary-medium !important;
          }
        }
      }
    }

    &:hover {
      .double-button {
        background: $love-low;
        z-index: z("usercard") - 1;

        .d-icon {
          color: $love;
        }
      }

      .discourse-reactions-reaction-button,
      .discourse-reactions-counter {
        z-index: 2;
      }
    }
  }
}
