@mixin scrollbar($border: var(--primary-very-low)) {
  --scrollbarBg: transparent;
  --scrollbarThumbBg: var(--primary-low);
  --scrollbarWidth: 1.2rem;

  scrollbar-color: var(--scrollbarThumbBg) var(--scrollbarBg);
  transition-delay: 0.5s;

  &::-webkit-scrollbar-thumb {
    border-radius: calc(var(--scrollbarWidth) / 2);
    background-color: var(--scrollbarThumbBg);
    border: calc(var(--scrollbarWidth) / 4) solid $border;
  }
  &::-webkit-scrollbar {
    width: var(--scrollbarWidth);
  }
}
