.discourse-reactions-list {
  margin-bottom: 1em;
}

.discourse-reactions-counter {
  .btn-reaction-counter {
    padding-right: 8px !important;
  }

  + .discourse-reactions-reaction-button {
    .toggle-like {
      padding-left: 4px;
    }
  }
}
