html.discourse-reactions-no-select {
  -webkit-touch-callout: none; /* Disables long-touch menu */
  -webkit-user-select: none; /* Disable text selection (for Webkit) */
  user-select: none; /* Disable text selection (standard syntax) */
}

.discourse-reactions-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0.25em;
  pointer-events: none;

  .reactions {
    display: flex;
    align-items: center;
    position: relative;

    .reaction {
      border-radius: 100px;
      border: 2px solid $primary-low-mid;
      display: flex;
      background-color: $primary-low-mid;
      align-items: center;
      margin: 0 0 0 -0.5em;

      &:nth-of-type(1n + 4) {
        display: none;
      }

      .emoji {
        width: 1.3em;
        height: 1.3em;
      }
    }
  }

  .users {
    font-size: $font-down-1;
    color: $primary-medium;
    margin-left: 0.5em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.discourse-reactions-picker {
  visibility: hidden;
  display: none;
  padding-bottom: 15px;
  z-index: z("usercard") - 2;
  position: relative;

  &.is-expanded {
    animation: 0.33s fadeIn;
    animation-fill-mode: forwards;
    display: flex;
  }

  .container {
    margin: 0.25em;
    box-shadow: shadow("card");
    background-color: $secondary;
    z-index: 1;
    border-radius: 2em;
  }

  .pickable-reaction {
    // TODO fix this in core
    padding: 0.25em !important;
    margin: 0.25em !important;
    border: 1px solid transparent !important;
    cursor: not-allowed;
    border-radius: 2em;

    .emoji {
      pointer-events: none;
      height: 1.2em;
      width: 1.2em;
    }

    &:not(.can-undo) {
      background: $primary-very-low;
    }

    &.can-undo {
      cursor: pointer;

      &:hover {
        background: none !important;
        border-color: transparent !important;
        transform: scale(1.5);
      }
    }

    &.is-used {
      border-color: $tertiary-low !important;
    }
  }
}

.discourse-reactions-state-panel {
  min-width: 235px;
  max-width: 275px;
  visibility: hidden;
  display: none;
  padding-bottom: 15px;
  z-index: z("usercard") - 2;
  position: relative;

  &.is-expanded {
    animation: 0.33s fadeIn;
    animation-fill-mode: forwards;
    display: flex;
  }

  .container {
    box-shadow: shadow("card");
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .counters {
    border-top: 1px solid $primary-low;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    padding: 0.5em;
    margin-bottom: auto;
  }

  .users {
    display: grid;
    grid-template-columns: repeat(8, max-content);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    padding: 0.5em;
    margin-bottom: auto;

    .trigger-user-card {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.discourse-reactions-state-panel-reaction {
  cursor: pointer;
  display: flex;
  align-items: center;

  &:last-child {
    margin: 0;
  }

  &.is-displayed {
    .count {
      font-weight: bold;
      color: $primary-high;
    }
  }

  &:not(.is-displayed) {
    filter: grayscale(1);

    &:hover {
      filter: grayscale(0);
    }
  }

  .count {
    margin-right: 0.5em;
    color: $primary-medium;
  }
}

.discourse-reactions-actions {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  &:not(.has-reacted) {
    .discourse-reactions-reaction-button {
      &:hover {
        .d-icon {
          color: $love;
        }

        background: $love-low;
      }
    }
  }

  &.has-reacted {
    .discourse-reactions-reaction-button {
      .d-icon {
        color: $love;
      }
    }
  }

  &.has-used-main-reaction {
    .d-icon {
      color: $love;
    }

    &.can-toggle-main-reaction {
      .discourse-reactions-reaction-button {
        &:hover {
          .d-icon {
            color: $primary-low-mid;
          }

          background: $primary-low;
        }
      }
    }
  }

  &:not(.can-toggle-main-reaction) {
    &.your-post {
      .double-button {
        &:hover {
          .discourse-reactions-reaction-button {
            .d-icon {
              color: $primary-low-mid;
            }
            background: $primary-low;
          }
        }
      }
    }

    &:not(.your-post) {
      .discourse-reactions-reaction-button {
        cursor: not-allowed;

        &:hover {
          background: $primary-low;
        }
      }
    }
  }

  &.can-toggle-main-reaction {
    .discourse-reactions-reaction-button {
      cursor: pointer;
    }
  }

  &.justify-left {
    justify-content: flex-end;
  }

  .double-button {
    &:hover {
      background: $primary-low;
    }
  }
}

.discourse-reactions-reaction-button {
  position: relative;
  cursor: default;
  display: flex;
  touch-action: none;

  .btn-toggle-reaction-like {
    outline: none;
    pointer-events: none;
    background: none !important;
  }

  .btn-toggle-reaction-emoji {
    outline: none;
    pointer-events: none;
    background: none !important;
    width: 1.1em;
    height: 1.1em;
  }

  &:hover {
    background: $primary-low;
  }
}

.discourse-reactions-counter {
  display: inline-flex;
  position: relative;
  min-width: 1em;
  padding: 0.5em;

  .reactions-counter {
    color: $primary-low-mid;
    display: flex;
    align-items: center;
    margin-left: 0.25em;
    margin-right: 0.5em;
    pointer-events: none;
  }

  &.only-like {
    padding-right: 0px;
    .reactions-counter {
      margin-right: 0px;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

nav.post-controls .actions {
  display: inline-flex;
}

nav.post-controls .actions button {
  display: inline-flex;
  align-items: center;
}
