{{#if siteSettings.discourse_reactions_enabled}}
  <li>
    {{#link-to "userActivity.reactions"}}
      {{d-icon "far-smile"}} <span>{{i18n "discourse_reactions.reactions_title"}}</span>
    {{/link-to}}
  </li>
{{/if}}
