{{#if this.siteSettings.discourse_reactions_enabled}}
  <LinkTo @route="userNotifications.reactionsReceived">
    {{d-icon "far-face-smile"}}
    <span>{{i18n "discourse_reactions.reactions_title"}}</span>
  </LinkTo>
{{/if}}