<div class="d-editor-textarea-wrapper">
  {{input placeholder='Add Emoji' value=value class="d-emoji-picker-imput"}}
</div>
{{emoji-picker
  isActive=emojiPickerIsActive
  emojiSelected=(action "emojiSelected")
  onEmojiPickerClose=(action (mut emojiPickerIsActive) false)
}}
<div class="desc">{{html-safe setting.description}}</div>
{{setting-validation-message message=validationMessage}}
